body {
    font-family: "Jaldi";
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #2F3437;
    color: #F7F6F3;
}
header {
    position: sticky;
    top: 0;
}
.nav-container {
    background-color: #373C3F;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    z-index: 9999;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.social-media ul {
    display: flex;
    color: #F7F6F3;
    flex-flow: row;
    justify-content: space-around;
    gap: 1.5rem 1.5rem;
}
.social-media li {
    list-style-type: none;
    padding-right: 10px;
    font-size: 20px;
}
.social-media li a {
    color: #F7F6F3;
}
.nav-container img {
    width: 200px;
}
.nav-container .nav-list ul {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    gap: 1rem 1rem;
}
.nav-container .nav-list li {
    list-style-type: none;
}
.nav-container .nav-list li a {
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    font-size: 1rem;
    color: #F7F6F3;
}
.nav-container .nav-list .book {
    background-color: #979A9B;
    color: #F7F6F3;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.5s ease;
}
.nav-container .nav-list .other:hover {
    color: #979A9B;
    transition: 0.5s ease;
}
.nav-container .social-media .other2:hover {
    color: #979A9B;
    transition: 0.5s ease;
}
.nav-container .nav-list .book:hover {
    background-color: #F7F6F3;
    color: #373C3F;
    transition: 0.5s ease;
}
.card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    background-color: #373C3F;
    padding: 25px;
    margin: 25px;
}
.content {
    width: 75%;
    text-align: justify;
    display: flex;
    flex-flow: column nowrap;
}
.benefit {
    margin-left: -25px;
}
h1 {
    font-size: 2.5rem;
    color: #F7F6F3;
}
h2{
    font-size: 1.4rem;
    color: #979A9B;
    margin-bottom: auto;
}
h1 ,.sub-judul {
    line-height: 1px;
    padding-bottom: 3px;
}
.content-image {
    width: 100%;
    max-height: 300px;
    margin-top: 10px;
    object-fit: cover;
}
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.mySlides {
    display: none;
}
.slide-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 30px;
    vertical-align: middle;
}
.side-card {
    position: absolute;
    inset-block: 0;
    inset-inline-end: 0;
    width: 25%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
    line-height: 10px;
}
.cedric {
    width: 200px;
    margin: 2rem;
}
footer {
    padding: 10px;
    margin-top: 20px;
    color: #F7F6F3;
    background-color: #373C3F;
    font-weight: bold;
    text-align: center;
}
.me {
    text-decoration: none;
    color: #F7F6F3;
}
.me:hover {
    color: #979A9B;
}