body {
    font-family: "Jaldi";
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #FFF4EA;
}
header {
    position: sticky;
    top: 0;
}
.nav-container {
    background-color: #ECDFCC;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 9999;
}
.social-media ul {
    display: flex;
    color: black;
    flex-flow: row;
    justify-content: space-around;
    gap: 1.5rem 1.5rem;
}
.social-media li {
    list-style-type: none;
    padding-right: 10px;
    font-size: 20px;
}
.social-media li a {
    color: #697565;
}
.nav-container img {
    width: 200px;
}
.nav-container .nav-list ul {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    gap: 1rem 1rem;
}
.nav-container .nav-list li {
    list-style-type: none;
}
.nav-container .nav-list li a {
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    font-size: 1rem;
    color: black;
}
.nav-container .nav-list .book {
    background-color: #697565;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}
.nav-container .nav-list .other:hover {
    color: #697565;
}
.nav-container .social-media .other2:hover {
    color: black;
}
.nav-container .nav-list .book:hover {
    background-color: black;
    color: #F1F0E8;
}
.card {
    box-shadow: 10px 10px 0px -2px rgba(105,117,101,0.5);
    background-color: #ECDFCC;
    border-radius: 30px;
    padding: 25px;
    margin: 25px;
}
.slide-card {
    background-color: #697565;
    border-radius: 30px;
    padding: 25px;
    margin: 25px;
    color: #F1F0E8;
}
.content {
    width: 75%;
    text-align: justify;
    display: flex;
    flex-flow: column nowrap;
}
h1 {
    font-size: 2.5rem;
    color: black;
}
h2{
    font-size: 1.4rem;
    color: #697565;
    margin-bottom: auto;
}
h1 ,.sub-judul {
    line-height: 1px;
    padding-bottom: 3px;
}
.content-image {
    width: 100%;
    max-height: 300px;
    border-radius: 30px;
    margin-top: 10px;
    object-fit: cover;
}
/* Slideshow container */
.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
}
/* Images by default */
.mySlides {
    display: none;
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: #697565;
}
/* Caption text */
.slide-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 30px;
}
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}